/* Header styles */

.my-main-menu{

    width: 90%;
    margin: 2rem 5%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(176, 255, 208);
    color: white;
    padding: 1rem 2rem;
    border-radius: 20px;
    top: 0;
    left: 0;
    right: 0;

    .site-title{

        display: inline-flex;
        color: white;
    
    }

}


.custom-logo {
    width: 4rem;
}

.my-navbar{

    display: flex;
    gap: 1rem; 
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    align-items: center;

    li{
        list-style: none;

        a{
            color: white;
        }

    }
}